body{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "header header header header header"
                         "nav nav nav nav nav"
                         "c1 c2 c3 c4 c5"
                         "main main main main main"
                         "footer footer footer footer footer";
    grid-column-gap: 15px;
}

body > header {
    grid-row: 1 ;
    grid-column: 1/-1;    
}

.r3{background: #AEB8C4;
    text-align: center;}
/*
5 rows
5 columns
Aztec Egyptian Home Greek Norse (nav)
*/ 
nav{
    background-color: #333;
}
nav ul {
    width: 100%;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

li a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
}

header {
    background-color: #214358;
    text-align: center;
    height: 40px;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 960px;
    min-width: 640px;
    background-color: #151B25;
    font-family: serif;
}


.r5{
    width: 960px;
    text-align: left;
    background-color: #214358;
}

h1{color: black;}

section {
        width:75%;
        font-size: 1.2em;
}

body > footer::after {
    clear: both;
    content: "";
    display: table;
}
